---
import Section from "../reusableComponents/section.astro";
import MainSectionHeading from "../reusableComponents/MainSectionHeading.astro";
import teamsData from "../../dataContents/teams";
---

<Section bgColorClassName="bg-white">
    <MainSectionHeading
        name="Our Team"
        sub="Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop"
    />

    <div class="md:flex md:flex-wrap">
        {
            teamsData.map(({ image, name, jobTitle, message }) => {
                return (
                    <div class="lg:w-2/6 md:w-3/6 md:px-3 mt-12 text-center">
                        <img
                            src={image}
                            alt={`Image of ${jobTitle} ${name}`}
                            class="w-8/12 mx-auto rounded-full mb-6"
                        />
                        <h4 class="text-lg font-bold mb-[6px]">{name}</h4>
                        <span class="text-gray-500 italic mb-[10px]">
                            {jobTitle}
                        </span>
                        <p>{message}</p>
                    </div>
                );
            })
        }
    </div>
</Section>
