---
import { Icon } from "astro-icon";
import Button from "../reusableComponents/button.astro";

const { currentPage } = Astro.props;
const navbarLinks = [
    "home",
    "about",
    "services",
    "projects",
    "blog",
    "contact",
];

const sidenavLinks = [
    {
        name: "home",
        icon: "mdi:home",
    },
    {
        name: "about",
        icon: "mdi:about",
    },
    {
        name: "services",
        icon: "mdi:truck",
    },
    {
        name: "projects",
        icon: "mdi:crane",
    },
    {
        name: "blog",
        icon: "mdi:blog",
    },
    {
        name: "contact",
        icon: "mdi:phone",
    },
];
---

<header
    id="navbar"
    class="fixed w-screen py-10 z-[10] transition-all duration-300"
>
    <div class="my-container">
        <div class="flex justify-between items-center text-white md:px-3">
            <a href="/">
                <h1 class="text-xl md:text-2xl font-bold uppercase">
                    Brand Name
                </h1>
            </a>
            <nav
                class="hidden lg:flex lg:gap-x-8 md:gap-x-5 h-fit my-auto text-gray-300 uppercase font-semibold text-sm"
            >
                {
                    navbarLinks.map((i) => {
                        return (
                            <a
                                href={`${i === "home" ? "/" : `/${i}`}`}
                                class={`hover:text-primary py-1 w-full transition-all duration-200 ${
                                    currentPage == `${i}`
                                        ? "border-b-[2px] border-b-primary text-white"
                                        : ""
                                }`}
                            >
                                {i}
                            </a>
                        );
                    })
                }
            </nav>

            <!------Side nav button ------->
            <div id="show-side-nav-btn" class="lg:hidden">
                <Icon
                    name="mdi:menu"
                    class="text-white w-8 h-8 cursor-pointer"
                />
            </div>

            <!-- <Button className="bg-primary text-dark font-bold">Get started</Button> -->
        </div>
    </div>
</header>
<!--------Side nav---------- -->
<div
    id="side-nav"
    class="fixed -right-[400px] top-0 bottom-0 min-h-screen max-w-[400px] w-full bg-dark z-[12] transition-all duration-500"
>
    <div class="py-5 z-[10] transition-all duration-300 w-full text-white">
        <div id="close-side-nav-btn">
            <Icon
                name="uil:arrow-right"
                class="w-16 text-primary cursor-pointer"
            />
        </div>
        {
            sidenavLinks.map(({ name, icon }) => {
                return (
                    <a
                        href={`${name === "home" ? "/" : `/${name}`}`}
                        class={`hover:text-primary active:text-primary focus:text-primary text-sm uppercase hover:bg-lightenDark active:bg-lightenDark font-bold py-5 pl-5 w-full transition-all duration-200 block ${
                            currentPage == `${name}` ? "text-primary" : ""
                        }`}
                    >
                        <Icon name={`${icon}`} class="w-6 mr-5 inline-block" />
                        {name}
                    </a>
                );
            })
        }
    </div>
</div>
<!-----------------Model -------------- -->

<script is:inline>
    const navbar = document.querySelector("header#navbar");
    window.addEventListener("scroll", (e) => {
        e.preventDefault();

        if (window.scrollY >= 50) {
            navbar.classList.remove("py-10");
            navbar.classList.add("py-5", "bg-dark", "shadow-xl");
        } else {
            navbar.classList.remove("py-5", "bg-dark", "shadow-xl");
            navbar.classList.add("py-10");
        }
    });

    window.addEventListener("load", (e) => {
        e.preventDefault();
        if (window.scrollY >= 50) {
            navbar.classList.remove("py-10");
            navbar.classList.add("py-5", "bg-dark", "shadow-xl");
        }
    });

    /**
        show side nav on smaller screen
    */

    const showSidenavBtn = document.getElementById("show-side-nav-btn");
    const sidenav = document.getElementById("side-nav");

    showSidenavBtn.addEventListener("click", (e) => {
        e.preventDefault();
        sidenav.classList.remove("-right-[400px]");
        sidenav.classList.add("right-0");
    });

    /**
     * close side nav
     */

    const closeSideNavBtn = document.getElementById("close-side-nav-btn");
    closeSideNavBtn.addEventListener("click", (e) => {
        e.preventDefault();
        sidenav.classList.remove("right-0");
        sidenav.classList.add("-right-[400px]");
    });
</script>
